@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=New+Tegomin&display=swap');
body {
    font-family: 'New Tegomin', serif;
}
/* ------------------------ Home:Discover */
#discover {
    display: flex;
    justify-content: space-between;
    max-height: 80vh;
}

.hero-heading-container {
    position: relative;
    width: 33%;
    box-sizing: border-box;
}

.heading-text {
    position: absolute;
    bottom: 20%;
    margin-left: 1rem;
}

.heading-text h1 {
    font-size: 3rem;
    color: #4189dd;
}

.heading-text h3 {
    font-style: italic;
    color: #cca253;
    font-family: 'Dancing Script', cursive;
}

.hero-container {
    flex: 2;
    justify-content: end;
}

#hero-image {
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    #discover {
        height: 50vh;
        background-image:url('../images/murcanyo-beach.png');
        background-position: center;
        background-size: cover;
    }
    .hero-heading-container{
        width: 80%;
    }
    .heading-text {
        margin-left: 10px;
    }
    .heading-text h1 {
        color: #e6e6e6 ;
        font-size: 2rem;
    }
    .heading-text h3 {
        color: #cca253;
        font-size: 1rem;
        margin-left: 2px;
    }
    .hero-container{
        display: none;
    }
}
/* ------------------------ Home:About */

#about-coast{
    background-color: #add8e6;
}

#about-coast .container{
    padding: 50px;
}

.title-about{
    color: #2A324B;
}

.title-about+p {
    color: #4189dd;
}

.about-info {
    width: 60%;
    margin: auto;
    padding: 20px;
}


@media (max-width: 1024px){
    .about-info {
        width: 100%;
    }
    #about-coast .container{
        padding: 30px 0;
    }
}

/* ------------------------ Home:Places */
#cities {
    background-color: lightblue;
    min-height: 400px;
}

#places-heading {
    text-align: center;
    padding: 20px 0;
    color: beige;
}

.places-img img {
    width: 100%;
    height: 700px;
    margin-bottom: 2em;
}

.places-text {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.places-text-appear {
    opacity: 1;
    transform: translateY(0px);
}

/* ------------------------ Home:Explore coast */
.carousel {
    height: 80vh;
    width: 100%;
    text-align: center;
    position: relative;
}

.carousel img {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin: auto; 
    max-width: 60%;
    max-height: 80%;
}

@media (max-width: 768px) {
    .carousel img {
        position: relative;
        max-width: 100%;
        max-height: 50%;
        margin: 10px auto;
    }
    .carousel i {
        position: relative;
        margin-top: 20px;
    }
    
    
}

.carousel i {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    width:50px;
    height:50px;
    text-align: center;
    vertical-align: middle;
    transition: 0.1s ease-in-out;
}

.carousel i:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.8);
}

#next {
    right: 0;
    top: 50%;
    margin-right: 100px;
    line-height: 50px;
}

#prev {
    left: 0;
    top: 50%;
    margin-left: 100px;
    line-height: 50px;
}

#explore-coast h1{
    color: #2A324B;
    margin-top: 50px;
}

hr {
    color: #cca253;
    opacity: 0.7;
    width: 80px;
    margin: 5px auto;
    padding: 4px;
    border-radius: 5px;
}

/* ------------------------ Explore Map (Map + Sidebar) */
.side-map {
    display: flex;
    position: relative;
}

.sidebar-container {
    width: 250px;
    height: 100vh;
    position: relative;
}

@media (max-width:320px) {
    .sidebar-container {
        width: 200px;
    }
}

.map-container {
    height: 100vh;
    flex: 2;
}


/* ------------------------ Explore Map (Sidebar) */

.sidebar {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: blue;
    overflow: scroll;
}

.nav-btn {
    position: absolute;
    font-size: 1.5em;
    top: 25px;
    left: 15px;
    z-index: 1;
    color: blue;
    text-align: center;
}

.nav-btn.click {
    left: 260px;
}

@media (max-width:320px) {
    .nav-btn.click {
        left: 210px;
    }
}

.nav-btn.click:before {
    content: '\f00d';
}


.sidebar h4 {
    text-align: center;
    line-height: 65px;
    color: white;
    z-index: 1;
}

.sidebar ul {
    padding: 0;
    height: 100%;
    width: 100%;
    list-style-type: none; 
}

.nav-cities li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-cities li a {
    text-decoration: none;
    color: white;
    padding-left: 30px;
    border-left: 3px solid transparent;
    display: block;
    position: relative;
    font-size: 18px;
}

.nav-cities li a:hover {
    color: white;
    border-left-color: white;
    background: rgba(65, 137, 221, 0.5);
}

.nav-cities li a i{
    position: absolute;
    bottom: 50%;
    right: 20px;
    font-size: 22px;
    transform: translateY(50%);
}

nav ul ul {
    list-style-type: none;
    position: static;
    display: none;
}

.nav-options.show {
    display: block;
}

.nav-options li {
    line-height: 42px;
    border-bottom: none;
}

.nav-options li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 50px;
}

/* ------------------------ Explore Map (Map) */
#map{
    height: 100%;
    width: 100%;
    position: fixed;
}

/* ------------------------ Footer */

footer {
    background-color: #4189dd;
    color: white;
}

footer p {
    margin-bottom: 0;
    padding: 20px 10px;
}
