
/* ------------------------ Home:Discover */
#discover {
    display: flex;
    justify-content: space-between;
    max-height: 80vh;
}

.hero-heading-container {
    position: relative;
    width: 33%;
    box-sizing: border-box;
}

.hero-heading-container h1 {
    position: absolute;
    bottom: 20%;
    font-size: 4rem;
    margin-left: 1rem;
    color: #4189dd;
}

.hero-container {
    flex: 2;
    justify-content: end;
}

#hero-image {
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero-heading-container h1 {
        font-size: 2rem;
        margin-left: 7px;
    }
    .hero-heading-container {
        width: 40%;
    }
}

/* ------------------------ Home:Places */
#cities {
    background-color: lightblue;
    min-height: 400px;
}

#places-heading {
    text-align: center;
    padding: 20px 0;
    color: beige;
}

.places-img img {
    width: 100%;
    height: 700px;
    margin-bottom: 2em;
}

.places-text {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.places-text-appear {
    opacity: 1;
    transform: translateY(0px);
}

/* ------------------------ Home:Things To Do */

/* ------------------------ Explore Map */

/* ------------------------ Footer */

footer {
    background-color: #4189dd;
    color: white;
}

footer p {
    margin-bottom: 0;
    padding: 20px 10px;
}
